.trend-image {
  width: 13%;
  height: 13%;
  margin: 1%;
  position: relative;
  transition: transform 0.5s ease-in-out; /* 천천히 확대 */
}

.trend-image:hover {
  transform: scale(1.5);
  filter: brightness(80%);
  z-index: 2; /* 이미지 가장 위로 배치 */
}

.image-transition{
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
